.btn-cart{
  background-color: #dedede6a;
  color: #183153;
  border: 0 !important;
}

.btn-cart:hover{
  background-color:#303f9f;
  color: #ffffff;
}

.bg-btn{
    background-color: #dedede6a;
  border: 0 !important;
}

.bg-btn:hover{
      color: #ec0554;
}

.bg-cart{
  background-color: #dedede6a;
  color: #183153;
  border: 0 !important;
}
.bg-cart:hover{
  color:#303f9f;
  transition: 0.5s ease;
}
 .card-btns{
  display: none;
  position: absolute;
  top: 10% !important;
  right: 7% !important;
}

.card-hover:hover {
  /* transform: scaleY(1.05); */ 
  /* background-color: #E7EBF0; */
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
  transition: 0.4s ease;
  /* border: 1px solid #764abc !important; */
}
.card-hover:hover .card-btns {
  display: block;
}

.offer-badge{
  display: none;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}
.card-hover .offer-badge{
  display: block;
}

.fa-chevron-right {
  color: #764abc;
}

/* hr {
  margin: auto;
  width: 20%;
  font-weight: bold;
  color: red;
} */

.custom-margin {
  margin-bottom: -60px;
  align-items: center;
  text-align: center;
}

.custom-border {
  border: 1px solid #764abc !important;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 12px -5px rgb(156 39 176 / 46%) !important;
}

.bg-review {
  background-image: url(../../../images/review-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sticky-position{
  width: 13vw;
  position: fixed;
  top: 10;
  left: 0;
}

.scroll-position{
  width: calc(100vw - 15vw);
  left: 13vw;
  overflow-x: hidden;
  position: relative;
}

.text-accent {
  color: #4e54c8 !important;
}

.shadowBox{
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}

.saleFont{
  font-family: 'Rubik', sans-serif;
}
.saleH{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
  margin-bottom: .25rem;
  font-size: .875rem;
}
.saleH:hover{
  color:#d70f64;
}

@media(max-width: 769px) {
  .mw-qty{
  min-width: 7vw !important;
 }
 .card-btns {
  display: block;
}
}

@media only screen and (max-height: 650px) {
.sticky-position{
  width: 30vw;
  z-index: 1;
}
.scroll-position{
  width: calc(100vw - 30vw);
  
}
}