/* .header{
    position: relative !important;
    width: 100%;
    z-index: 1;
    } */
    
   /*  .header-inner{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 99;
    background-color: transparent;
    } */

   /*  .navbar-scroll{
        background-color: #212529f3 !important;
        background: linear-gradient(45deg, #303f9f,#7b1fa2) !important;
        padding: 0;
        position: fixed;
        text-align: center;
        top:0;
        z-index: 99;
        box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
        box-shadow:0px 1px 10px rgba(0,0,0,0.4);
        transition-duration: 0.6s; }
        
        .navbar-scroll .nav-item .nav-link{
            color: #fff  !important;
        } */

        .nav-item .nav-link:hover{
            color: orange !important;
            /* transform: scale(1.05); */
            /* transition: .3s ease; */
        }

       /*  .searchInputs {
            display: flex;
          } */
          
         /*  .search input {
              z-index: 1;
            background-color: white;
            border: 0;
            border-radius: 2px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 18px;
            padding: 15px;
            height: 30px;
            width: 300px;
          } */
          
          /* .searchIcon {
            height: 60px;
            width: 50px;
            background-color: white;
            display: grid;
            place-items: center;
          } */
          .bg-nav-btn{
            background-color: #6974be28;
          }
          .bg-nav-btn:hover{
                background-color: #16161853;
          }
          .btn-nav{
            background-color: #6974be28;
            border-radius: 50%;
          }
          .btn-nav:hover{
            background-color: #a7accf53;
          }

          input:focus {
            outline: none;
          }
        /*   .searchIcon svg {
            font-size: 25px;
          } */
          
          .dataResult {
          /*     position: relative !important;
              z-index: 1 !important;
            
            width: 300px; */
            position: absolute;
            z-index: 1;
            width: 33vw;
            margin-top: 5px;
            height: 200px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            overflow: hidden;
            overflow-y: auto;
          }
          
          .dataResult::-webkit-scrollbar {
            display: none;
          }
          
          .dataResult .dataItem {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            color: black;
          }
          
        /*   .dataItem p {
            margin-left: 10px;
          } */
          a {
            text-decoration: none;
          }
          
          .searchResult:hover {
            background-color: #EEF2FF !important;
          }
          
          #clearBtn {
            cursor: pointer;
            color: red;
          }

          .small-search{
            display: none;
          }

          @media  only screen and (max-width:576px) {
            .nav-hidder{
              display: none;
            }
             .small-search{
            display: block;
          }
          }